<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Base page</title>
  </head>
  <body>


    <nav class="navbar navbar-default navbar-static-top">
        <ul class='navbar navbar-nav'>
          <li> <a href="{% url 'basic_app:list' %}"> Schools</a></li>
          <li> <a href="{% url 'admin:index' %}"AdminPage</a>  </li>
          <li> <a href="#"></a> </li>
        </ul>
    </nav>

    <div class="container">

        {% block body_block %}
        {% endblock %}
      </div>
  </body>
</html>
